.passwordInput {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.passwordInput > input {
	flex-grow: 1;
	color: inherit;
	border: none;
	outline: none;
	background-color: transparent;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
}

.passwordInput > input::placeholder {
	color: currentColor;
}

.passwordInput > button {
	display: flex;
	border: none;
	outline: none;
	background-color: transparent;
	color: currentColor;
}
