.container {
	min-height: 80px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.validationContainer {
	padding: 10px 10px 10px 20px;
	border: 1px solid transparent;
	border-radius: 10px;
	background-color: var(--inputBackgroundColor);
}

.validationContainer > * {
	width: 100%;
}

.validationContainer.normal {
	color: var(--normalColor);
}

.validationContainer:focus-within.normal {
	color: var(--normalFocusedColor);
	border-color: var(--normalFocusedColor);
}

.validationContainer.success {
	color: var(--successColor);
	border-color: var(--successColor);
}

.validationContainer.error {
	color: var(--errorColor);
	border-color: var(--errorColor);
}

.rules {
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.rule {
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}

.rule.normal {
	color: var(--ruleColor);
}

.rule.success {
	color: var(--successColor);
}

.rule.error {
	color: var(--errorColor);
}
